# ignore directories
__pycache__/
env/
.venv/
.pytest_cache/
app/static/tag_pics/*

# ignore files
.flaskenv
.env
.coverage
*.pyc
/*.sqlite3
.eslintcache

venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/